# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# SQLite database
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log

# Streamlit specific
*.streamlit/

# VS Code settings
.vscode/
